
body{
  margin :0px;
  text-align:center;
  font-family:'Merriweather', sans-serif;
  
  

}


h1{
margin:50px 0 0 0; /*90px = 5.625em*/
font-family: 'Sacramento',cursive;
font-size:6rem;
color:whitesmoke;
line-height:2;

}
h2{
font-family:'Montserrat',sans-serif;
font-size: 2.5rem;
color:whitesmoke;
font-weight:normal;
}
h3{
  font-family:'Montserrat',sans-serif;
  color:whitesmoke;
}

.top-container{
  background-color: #A178A4;
  height:auto;
  width:auto;
  padding:20px;
  border:2px solid black;
  position:relative;
  padding-top: 100px;
   /*margin does not affect the overall size of the div like padding and border. */
}

.middle-container{
 
  
}
.bottom-container{
 
}

span {
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}
.bottom-cloud{
  position:absolute;
  left:550px;
  bottom:300px
}
.top-cloud{
  position: absolute;
  right:550px;
  top:50px;
}
.skill-row{
  width:50%;
}
/*#847A9F#A178A4#B172A5#6BBED4#3994BE*/
