body{
    font-family:'Montserrat';
}
h1{
    font-family:"Montserrat-Black";
    line-height: 1.5;
    font-size: 3rem;
}
h2{
    font-family : "Montserrat-Bold";
    font-size:3rem;
    line-height:1.5;
}
h3{
    font-family:"Montserrat-Bold";

}
p{
    color:grey;
}

.container-fluid{
    padding:3% 15%;
}

#title{
    background-color: #ff4c68;
    color:#fff;
    

}
/* Navigation Bar */

.navbar-brand{
    font-size:2.5rem;
    color:#fff;
    font-weight: bold;
    

}

.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
  padding:0 18px;
}

.nav-link{
  font-family: 'Montserrat-Light';
  font-size:1.2rem;
}
.Download-Button{
    margin: 5% 3% 5% 0;
}
.title-img{
    
    transform:rotate(25deg);
    position:absolute;


}
#features{
    padding:7% 15%;
    background-color: #fff;
    position:relative;
    
}
.feature-box{
    text-align:center;  
    padding:5%;
    z-index:2;
}

.icon{
    color:#ef8172;
    margin-bottom:1rem;

}
.icon:hover{
    color:#ff4c68;
}

#testimonials{
    text-align:center;
    background-color: #ef8172;
    color:#fff;
    
}
.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin:20px;
}

#press{
    background-color: #ef8172;
    text-align:center;
    padding-bottom:3%;
}
.press-logo{
width:15%;
margin:20px 20px 50px;
}

.carousel-item{
    padding:7% 15%;
}
#pricing{
    padding:100px;
    text-align:center;
}
.pricing-colum{
 padding:3% 2%;
}

#cta{
    background-color: #ff4c68;
    color:#fff;
    padding:7% 15%;
}
.cta-heading{
    font-family: 'Montserrat-Black';
    font-size:3.5rem;
    line-height:1.5;
}

@media (max-width:1028px){
    .title-img{
        position:static;
        transform:rotate(0);

    }
    #title{
        text-align:center;
    }
}